<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title #{title}
	link(rel="stylesheet", href="style/header.css")
body
	ul
		li
			a(href="/") 主页
		li
			a(href="/video") 视频
		li
			a(href="/table") 表格
		li
			a(href="/music") 音乐
	div(class="clear")
	block content
	
	ul
		li 联系人信息