*{
	margin: 0;
	padding: 0;
}
.clear{
	clear:both;
}
.header{
	height: 159px;
	width: 999px;
	margin:0 auto;
}
.header .logo img{
	margin-top:41px;
	margin-left:21px;
	float:left;
	}
.header .search{
	border:1px solid #e4e4e4;
    width: 225px;
    height: 26px;
	margin-top:39px;
	margin-right:19px;
	float:right;
	background-color:#f1f1f1;
}

.header .search .s1{
	margin-left:14px;
	height: 26px;
	width: 185px;
	border:none;
    outline:none;
	background-color:#f1f1f1;
}
.header .search .s2{
	margin-top:6px;
	margin-right:7px;
	float:right;
}
.header .nav{
	width: 999px;
	height: 59px;
	margin-top:33px;
	text-align:center;
	float:left;
	background-color:#313131 
}
.header .nav .list li{
	height: 57px;
	width: 119px;
	line-height:57px;
	text-align:center;
    font-size:16px;
    color:#ffffff;
    list-style:none;
    float:left;
    border:1px solid #4a4a4a;
}
.header .nav .list li a{
	text-decoration:none;
	color:#ffffff; 
}
.header .nav table{
	border-collapse: collapse;
	margin-left:26px;
}
.header .nav .list .q2{
	border-right:none;
}
.header .nav .list .q1{
	border-left:none;
}
.banner {
	height: 463px;
	width: 999px;
    margin:0 auto;
}
.banner img{
	height: 463px;
	width: 999px;
}
.container{
	height: 546px;
	width: 999px;
	margin:0 auto;
}
.container .top .c-t-left h3{
	margin-top:37px;
    margin-left:24px;
    color:#1c1c1c;
}
.container .top .c-t-left {
	width: 500px;
	height: 241px;
    float:left;
    background-color:#ffffff;
}
.container .top .c-t-left .list1 li a{
	text-decoration:none;
	color:#4f4f4f;    
}
.container .top .c-t-left .list1{
   margin-top:25px;

}
.container .top .c-t-left .list1 li{
	font-size:14px;
    margin-top:10px; 
    margin-left:34px; 
    color:#484848; 
}
.container .top .c-t-left .list1 span{
	margin-right:28px;
	float:right;  
	color:#919191; 
}
.container .top .c-t-center{
	width: 240px;
	height: 241px;
	float:left;
	background-color:#f1f1f1;
}
.container .top .c-t-center h3 a{
	text-decoration:none;
	color:#1c1c1c;
}
.container .top .c-t-center h3{
    margin-top:37px;
    margin-left:24px;
}
.container .top .c-t-center .p1{
	font-size:16px;
    margin-top:39px; 
    margin-left:25px;  
}  
.container .top .c-t-center .p2{
	font-size:14px;
    margin-top:13px; 
    margin-left:25px;  
}  
.container .top .c-t-center .p3{
	font-size:12px;
    margin-top:27px; 
    margin-left:25px;  
}  
.container .top .c-t-center .p4{
	font-size:12px;
    margin-top:13px; 
    margin-left:25px;  
}
.container .top .c-t-right{
	width: 259px;
	height: 241px;
	float:right;
	background-color:#fbfbfb;
}
.container .top .c-t-right h3{
    margin-top:37px;
    margin-left:25px;
}
.container .top .c-t-right h3 a{
	text-decoration:none;
	color:#1c1c1c;
}
.container .top .c-t-right .p1{
	font-size:14px;
    margin-top:27px; 
    margin-left:25px;  
} 
.container .top .c-t-right .p2{
	font-size:14px;
    margin-top:13px; 
    margin-left:25px;  
}  
.container .top .c-t-right .more{
    margin-top:56px; 
    margin-left:25px;
    float:left;  
} 
.container .top .c-t-right .pz{
    margin-right:17px;  
    float:right;
}
.container .botton h3{
	margin-left:23px;
	margin-top:30px;
	float:left;
}  
.container .botton .botton1{
	float:left;
}
.container .botton .botton1  img{
	margin-top:17px;
	margin-left:20px;
}
.container .botton .botton1 p{
	margin-top:18px;
	margin-left:23px;
	font-size:12px;
}
.container .botton .botton1 .p1{
	margin-top:13px;
	margin-left:23px;
}
.container .botton .botton2{
	float:left;
}
.container .botton .botton2  img{
	margin-top:17px;
	margin-left:40px;
}
.container .botton .botton2 p{
	margin-top:18px;
	margin-left:45px;
	font-size:12px;
}
.container .botton .botton2 .p1{
	margin-top:13px;
	margin-left:45px;
}
.container .botton .botton3{
	float:left;
}
.container .botton .botton3 img{
	margin-top:17px;
	margin-left:40px;
}
.container .botton .botton3 p{
	margin-top:18px;
	margin-left:45px;
	font-size:12px;
}
.container .botton .botton3 .p1{
	margin-top:13px;
	margin-left:45px;
}
.container .botton .botton4{
	float:left;
}
.container .botton .botton4  img{
	margin-top:17px;
	margin-left:40px;
}
.container .botton .botton4 p{
	margin-top:18px;
	margin-left:45px;
	font-size:12px;
}
.container .botton .botton4 .p1{
	margin-top:13px;
	margin-left:45px;
}
.footer{
	width: 999px;
	height: 331px;
	margin:0 auto;
}
.footer .top{
	width: 999px;
	height: 250px;
	background-color:#e5e5e5;
}
.footer .top .f-t-left{
	float:left;
	height: 250px;
	width: 500px;
}
.footer .top .f-t-left h4{
	margin-top:31px;
	margin-left:32px;
	color:#5b5b5b;
}
.footer .top .f-t-left .box1{
	border-bottom:1px solid #c1c1c1;
    width: 452px;
    margin:11px 20px;
}
.footer .top .f-t-left img{
	margin-left:25px;
	margin-top:23px;
}
.footer .top .f-t-left ul li span{
	margin-left:21px;
}
.footer .top .f-t-left ul li{
	font-size:12px;
}
.footer .top .f-t-left .cp1{
	list-style:none;
	float:left;
}
.footer .top .f-t-left .cp2{
	margin-left:30px;
	float:left;
	list-style:none;
}
.footer .top .f-t-left .cp3{
	margin-left:32px;
	list-style:none;
	float:left;
}
.footer .top .f-t-center{
	height: 250px;
	width: 200px;
	float:left;
}
.footer .top .f-t-center h4{
	margin-top:31px;
	margin-left:34px;
	color:#5b5b5b;
}
.footer .top .f-t-center .box2{
	border-bottom:1px solid #c1c1c1;
    width: 152px;
    margin:11px 22px;
}
.footer .top .f-t-center img{
	margin-left:31px;
	margin-top:23px;
}
.footer .top .f-t-center ul li span{
	margin-left:21px;
}
.footer .top .f-t-center ul li{
	font-size:12px;
	list-style:none;
}
.footer .top .f-t-right{
	height: 250px;
	width: 299px;
	float:right;
}
.footer .top .f-t-right h4{
	margin-top:31px;
	margin-left:37px;
	color:#5b5b5b;
}
.footer .top .f-t-right .box3{
	border-bottom:1px solid #c1c1c1;
    width: 256px;
    margin:11px 25px;
}
.footer .top .f-t-right img{
    margin-top:16px;
    margin-left:58px;
}
.footer .botton{
	height: 81px;
	width: 999px;
	margin:0 auto;
}
.footer .botton .f-b-left{
	height: 81px;
	width: 330px;
	float:left;
}
.footer .botton .f-b-left ul li{
	list-style:none;
	float:left;
    border-right:1px solid #7d7d7d;
    line-height:12px;
    margin-left:7px;
    font-size:12px;
    color:#a8a8a8;
} 
.footer .botton .f-b-left ul{
	margin-left:10px;
	margin-top:24px;
}
.footer .botton .f-b-left .qx{
	border-right:none;
}
.footer .botton .f-b-center{
	height: 81px;
	width: 541px;
	float:left;
}
.footer .botton .f-b-center p{
	margin-left:25px;
	font-size:12px;
	margin-top:24px;
	color:#a8a8a8;
}
.footer .botton .f-b-right:{
	height: 81px;
	width: 137px;
	float:left;
}
.footer .botton .f-b-right img{
	margin-top:24px;
}